* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
 
  background-color: #363333;
  
}

button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: background-color 0.3s ease;
}

.titulo-ejercicio {
  color: white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}
